@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700;800&display=swap');

:root {
  --max-width: 1140px;
  --text-color-black: rgba(0, 0, 0, 0.7);
  --text-color-gray: rgba(0, 0, 0, 0.57);
  --background-color-white: #fff;
  --background-color-gray: #f3f3f3;
  --background-color-light-gray: #fafafa;
  --background-color-green: #2e494c;
  --btn-background-color-gray: #6c757d;
  --btn-background-color-dark: #343a40;
  --nav-hover-color: #e94941;
  --section-padding: 60px 0 20px 0;
  --label-color: #82bd17;
  --more-btn-color: rgba(41, 133, 142, 0.7);
  --more-btn-dark-color: rgb(29, 97, 104);
  --info-text-color: #8e9aa3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color-black);
}

a:hover {
  color: var(--nav-hover-color);
}

ul {
  list-style: none;
}

input,
select {
  padding: 6px 12px;
  font-size: 16px;
  color: var(--text-color-gray);
  border: 1px solid var(--btn-background-color-gray);
  outline: none;
  border-radius: 2px;
}

button {
  padding: 6px;
  background-color: var(--btn-background-color-gray);
  color: var(--background-color-white);
  border: 1px solid var(--btn-background-color-gray);
  outline: none;
  letter-spacing: 6px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--btn-background-color-dark);
  border: 1px solid var(--btn-background-color-dark);
}

hr {
  margin-top: 6px;
  border: 1px solid var(--background-color-gray);
}

img {
  width: 100%;
  vertical-align: top;
}

.container {
  max-width: var(--max-width);
  padding: 0 15px;
  margin: auto;
}

/* nav section */
nav {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color-white);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-container {
  width: 120px;
  display: flex;
  align-items: center;
}

/* .brand-container img {
  width: 100%;
} */

.brand-courses {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.courses-lists ul {
  display: flex;
}

.courses-lists ul li {
  padding: 12px;
}

.infos i {
  font-size: 24px;
  padding: 10px 15px;
  color: var(--text-color-gray);
}

/* slide section */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 628px;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after {
  content: '\f138';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 10px #000;
  padding-right: 50px;
}

.swiper-button-prev:after {
  content: '\f137';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 10px #000;
  padding-left: 50px;
}

/* search section */
#search {
  background-color: var(--background-color-gray);
  padding: 15px;
}

.search-container {
  display: flex;
  gap: 0.5rem;
}

.search-container input {
  flex: 1;
}

/* hot course section */
#hot-course {
  padding: var(--section-padding);
  background-color: var(--background-color-light-gray);
}

.heading {
  position: relative;
  border-left: 3px solid var(--nav-hover-color);
}

.heading h2 {
  color: var(--text-color-black);
  margin-bottom: 6px;
  padding-left: 15px;
  line-height: 1.2;
  font-size: 28px;
}

#hot-course .heading h2::after {
  content: '';
  position: absolute;
  color: #3f3f3f;
  top: -20px;
  width: 50px;
  height: 30px;
  background-image: url(images/hot-ico.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.heading p {
  color: var(--text-color-gray);
  padding-left: 15px;
  vertical-align: baseline;
}

.course-cards {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 255px;
  max-width: 330px;
  border-radius: 10px;
  background-color: var(--background-color-white);
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate(-3px, -3px);
}

.card-img {
  width: 100%;
  height: 145px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2 ease-in-out;
  position: relative;
}

.card:hover .card-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.4;
}

.card-play {
  transition: all 0.2s ease-in-out;
}

.card:hover .card-play::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/play-solid.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.4;
}

.hot-1 {
  background-image: url('images/6f066eb7e38b42dab40a769f9946cf1c.jpg');
}

.hot-2 {
  background-image: url('images/20f9dc63aed04fbc8c010fa28c6e4f49.jpg');
}

.hot-3 {
  background-image: url('images/a6af6612e23d4c5ea555e05388d7735d.jpg');
}

.hot-4 {
  background-image: url('images/29046865faee458f9d310f507d560f89.jpg');
}

.card-content {
  padding: 8px;
}

.card-content h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--text-color-black);
  font-weight: 400;
}

.card-content p {
  color: var(--text-color-gray);
  margin-bottom: 8px;
  font-size: 14px;
}

.card-content label {
  background-color: var(--label-color);
  color: var(--background-color-light-gray);
  border-radius: 2px;
  padding: 1px 6px;
  font-size: 13px;
}

.card-footer {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer span {
  font-size: 14px;
  color: var(--text-color-gray);
}

.card-footer .price {
  color: var(--nav-hover-color);
  font-size: 18px;
}

.more-course p {
  color: var(--more-btn-color);
  padding: 6px 14px;
  margin: 14px 0;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-course p:hover {
  color: var(--more-btn-dark-color);
}

/* info section */
#info {
  background-color: var(--background-color-white);
}

.info-padding {
  padding: 60px 15px 60px 15px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.info-content {
  flex: 1 1 320px;
  max-width: 340px;
}

.info-content p {
  color: var(--info-text-color);
  line-height: 1.7;
}

.info-img {
  width: 140px;
  margin-bottom: 16px;
}

/* .info-img img {
  width: 100%;
} */

.info-icons {
  flex: 2;
  color: var(--info-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-icons-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.info-icon {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px dashed var(--info-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon i {
  font-size: 27px;
}

.info-icon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-icon-detail h3 {
  font-weight: 400;
}

/* video section */
#video-course {
  background-color: var(--background-color-light-gray);
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#video-course .heading h2::after {
  content: '';
  position: absolute;
  color: #3f3f3f;
  top: -20px;
  width: 60px;
  height: 30px;
  background-image: url(images/video-ico.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.video-1 {
  background-image: url('images/fafdbc77420f465f83f53e2c40d10e44.jpg');
}

.video-2 {
  background-image: url('images/09204448e41b4b27af8ee2cfc0a33724.jpg');
}

.video-3 {
  background-image: url('images/f239fd3d5c0e46be839389b3055508d5.png');
}

.video-4 {
  background-image: url('images/bd8b39e43c444eab8c6af831a9dde1ab.jpg');
}

#video-course .course-cards {
  align-items: stretch;
}

#video-course .card-footer {
  align-items: flex-end;
}

.card-footer div {
  display: flex;
  flex-direction: column;
}

.card-footer div .delete {
  color: var(--text-color-gray);
  text-decoration: line-through;
  font-size: 12px;
}

.video-tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag {
  border: 1px solid var(--text-color-gray);
  background-color: var(--background-color-white);
  border-radius: 2px;
  color: var(--text-color-gray);
  font-weight: 300;
  padding: 2px 4px;
  font-size: 14px;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tag:hover {
  border: 1px solid var(--nav-hover-color);
  background-color: var(--nav-hover-color);
  color: var(--background-color-white);
}

.tag.active {
  border: 1px solid var(--nav-hover-color);
  background-color: var(--nav-hover-color);
  color: var(--background-color-white);
}

/* banner section */
#banner {
  background-color: var(--background-color-light-gray);
}

/* free course section */
#free-course {
  background-color: var(--background-color-light-gray);
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#free-course .heading h2::after {
  content: '';
  position: absolute;
  color: #3f3f3f;
  top: -20px;
  width: 60px;
  height: 30px;
  background-image: url(images/free-ico.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.free-1 {
  background-image: url('images/b17dc252cbf846cb9bc65a416d75f37c.jpg');
}

.free-2 {
  background-image: url('images/1e5b2fb432f247b696cfad1d50fa60d2.jpg');
}

.free-3 {
  background-image: url('images/7cc469104092464182808bf783dd327c.jpg');
}

.free-4 {
  background-image: url('images/975cdbe6c41a4d3f910d11fa8652b048.png');
}

/* blog section */
#blog {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-image: url(images/index_blog_bg.jpg);
}

#blog .heading {
  position: relative;
  border-left: 3px solid var(--background-color-white);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#blog .heading h2 {
  color: var(--background-color-white);
}

#blog .heading h2::after {
  content: '';
  position: absolute;
  color: #3f3f3f;
  top: -20px;
  width: 50px;
  height: 30px;
  background-image: url(images/news-ico.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#blog .heading p {
  color: var(--background-color-white);
}

#blog hr {
  opacity: 0.25;
}

.blog-container {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.blog-img {
  position: relative;
  flex: 1 1 380px;
  max-width: 520px;
  border-radius: 5px;
  overflow: hidden;
}

.blog-img p {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 15px 24px;
  font-size: 18px;
  color: var(--background-color-white);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.blog-content {
  flex: 1 1 380px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.blog-content-list:not(:first-of-type) {
  margin-top: 2rem;
}

.blog-content h3,
.blog-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-weight: 400;
}

.blog-content-list h3,
.blog-content-list p {
  color: var(--btn-background-color-gray);
  transition: all 0.3s ease;
}

.blog-content-list:hover h3,
.blog-content-list:hover p {
  color: var(--background-color-white);
}

.blog-content h3 {
  font-size: 20px;
}

.blog-content p {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.blog-content button {
  letter-spacing: normal;
  font-size: 16px;
  border: 1px solid var(--btn-background-color-gray);
  background-color: transparent;
  color: var(--btn-background-color-gray);
  padding: 8px 16px;
}

.blog-content button:hover {
  border: 1px solid var(--background-color-white);
  color: var(--background-color-white);
}

/* footer section */
#footer {
  background-color: var(--background-color-light-gray);
  color: var(--info-text-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.footer-about {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 48px;
}

.footer-about ul li:first-child {
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.footer-about ul li:not(:first-child) {
  padding: 5px 0;
  font-size: 14px;
}

.footer-about a {
  color: var(--info-text-color);
}

.footer-contact {
  flex: 1;
}

.footer-contact .footer-img {
  width: 120px;
}

.footer-contact-lists {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 14px;
}

.service {
  display: flex;
  padding: 10px 0;
}

.technology {
  display: flex;
  padding: 10px 0;
}

.technology-time p:not(:first-child) {
  padding: 5px 0;
}

.list-right p {
  padding: 10px 0;
}

.copyright {
  padding: 18px 0;
}
